p {
    color: grey;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.highlight {
    border: 2px dotted rgb(190, 78, 255);
    letter-spacing: 5px;
    padding: 10px;
}

#special {
    text-decoration: underline;
    font-style: italic;
    margin-left: 10px;
}

a:hover {
    color: #007d70;
    text-decoration: none;
    background-color: rgba(130, 235, 100, 0.5);
}